@{
    ViewData["Title"] = "Welcome to Magix!";
}

<div class="bg-container position-relative">
	<div class="logo-text-image">
		<img src="/Images/main_logo_text.png" alt="Magix Logo Text">
	</div>

	<footer class="footer">
		Magix © 2023 <a asp-action="Privacy" asp-controller="Home">Privacy Policy</a>
	</footer>
</div>