@{
	ViewData["Title"] = "Welcome to Magix!";
}

<div class="main-bg-container position-relative">
	<div class="welcome-text-image">
		<img src="/Images/welcome_text.png" alt="Magix Welcome Text">
	</div>
	<div class="featured-text-image">
		<img src="/Images/featured_text.png" class="featured-image" alt="Featured Text">
	</div>
	<div class="placeholder-images">
		<img src="/Images/dog_placeholder.png" alt="Dog Card">
		<img src="/Images/dinosaur_placeholder.png" alt="Dinosaur Card">
	</div>
	<div class="new-additions-text-image">
		<img src="/Images/new_additions_text.png" class="new-additions-image" alt="New Additions Text">
	</div>
	<div class="main-cards-container">
		<div class="main-cards"><img src="/Images/dog_placeholder.png" alt="Card 1"></div>
		<div class="main-cards"><img src="/Images/dinosaur_placeholder.png" alt="Card 2"></div>
		<div class="main-cards"><img src="/Images/dog_placeholder.png" alt="Card 3"></div>
		<div class="main-cards"><img src="/Images/dinosaur_placeholder.png" alt="Card 4"></div>
		<div class="main-cards"><img src="/Images/dog_placeholder.png" alt="Card 5"></div>
		<div class="main-cards"><img src="/Images/dinosaur_placeholder.png" alt="Card 6"></div>
		<div class="main-cards"><img src="/Images/dog_placeholder.png" alt="Card 7"></div>
		<div class="main-cards"><img src="/Images/dinosaur_placeholder.png" alt="Card 8"></div>
	</div>
</div>
