@model IEnumerable<TradeInModel>
@{
	ViewData["Title"] = "Trading In!";
}

<div class="tradein-container">
	<div class="tradein-greeting-text-image">
		<img src="/Images/tradein_greeting.png" class="tradein-greeting-image" alt="Trade-In Greeting Text">
	</div>

	<!-- Trade-in Form -->
	<div class="tradein-form">
		<form method="post" asp-action="AddToTradeIn">
			<label for="cardName">Card Name:</label>
			<input type="text" id="cardName" name="cardName" required>
			<br>

			<label for="cardSet">Card Set:</label>
			<input type="text" id="cardSet" name="cardSet" required>
			<br>

			<label for="cardPrint">Card Print:</label>
			<input type="text" id="cardPrint" name="cardPrint" required>
			<br>

			<label for="cardCondition">Card Condition:</label>
			<input type="text" id="cardCondition" name="cardCondition" required>
			<br>

			<label for="cardIsFoil">Card Is Foil:</label>
			<input type="checkbox" id="cardIsFoil" name="cardIsFoil">
			<br>

			<button type="submit">Add to Trade-in</button>
		</form>
	</div>
</div>
