@model IEnumerable<TradeInModel>
@{
	ViewData["Title"] = "Trading In!";
}

<!-- Main container that handles background image and all content within it. -->
<<div class="tradein-container">
	<div class="tradein-greeting-text-image">
		<img src="/Images/tradein_greeting.png" class="tradein-greeting-image" alt="Trade-In Greeting Text">
	</div>

	<!-- Container for the trade-in form and list of cards. -->
	<div class="tradein-form-container">

		<!-- Container for the trade-in form. -->
		<div class="tradein-form">
			<form method="post" asp-action="AddToTradeIn">

				<!-- <div> template for labels with tooltips -->
				<div class="label-with-tooltip">
					<label for="cardName">Card Name</label><span class="tooltip-icon" onclick="openTooltip('tooltip-cardName')">?</span>
				</div>

				<!-- Tooltip modal for the card name field; triggered on click -->
				<div class="tooltip-modal" id="tooltip-cardName">

					<!-- Content of the tooltip; styled and positioned as a tooltip box -->
					<div class="tooltip-content tooltip-content-box">
						Search by entering any word(s) found in the card title. Partial matches will also provide results.
					</div>
				</div>
				<br>
				<input type="text" id="cardName" name="cardName" required>
				<br>
				<label for="cardEdition">Edition</label><br>
				<input type="text" id="cardEdition" name="cardEdition" required>
				<label for="cardCondition">Condition</label>
				<select id="cardCondition" name="cardCondition" required>
					<option value="M">Mint (M)</option>
					<option value="NM">Near Mint (NM)</option>
					<option value="EX">Excellent (EX)</option>
					<option value="GD">Good (GD)</option>
					<option value="LP">Light Played (LP)</option>
					<option value="PL">Played (PL)</option>
					<option value="PR">Poor (PR)</option>
				</select>
				<br>
				<label for="cardBorder">Border</label>
				<br>
				<select id="cardBorder" name="cardBorder" required>
					<option value="B">Black (B)</option>
					<option value="W">White (W)</option>
					<option value="SS">Set-specific (SS)</option>
					<option value="EA">Extended-art (EA)</option>
					<option value="BL">Borderless (BL)</option>
					<option value="S">Silver (S)</option>
					<option value="G">Gold (G)</option>
				</select>
				<label for="foilNonFoil">Foil/Non-Foil</label>
				<select id="foilNonFoil" name="foilNonFoil" required>
					<option value="Foil">Foil</option>
					<option value="NonFoil">Non-Foil</option>
				</select>
				<br>
				<button type="submit">Add to Trade-in</button>
			</form>
		</div>

		<!-- Container for the list of cards being traded in. -->
		<div class="tradein-list-container">
			<div class="tradein-list">
				<!-- Add items dynamically here -->
			</div>
			<div class="tradein-total">
				TOTAL: $<span id="total-price">0.00</span>
			</div>
		</div>
	</div>
</div>
<script src="~/js/site.js"></script>
