a {
	color: #0077cc;
	text-decoration: none;
}

.bg-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url('/Images/main_background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #ffffff;
	padding: 10px 0;
	text-align: center;
}

.featured-image {
	width: 80%;
	display: block;
	margin: 0 auto;
}

.featured-text-image {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -35%);
}

h2 {
	font-size: 2em;
	margin-bottom: 20px;
}

h4 {
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 15px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
}

.logo-text-image {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
}

p {
	margin-bottom: 20px;
}

.placeholder-images {
	width: 500px;
	padding-top: 350px;
	display: flex;
	justify-content: space-between;
	gap: 40px;
	margin: 0 auto;
}

	.placeholder-images img {
		max-width: calc(50% - 10px);
		display: block;
	}

.privacy-content {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}