a {
	color: #0077cc;
	text-decoration: none;
}

.bg-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url('/Images/main_background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #ffffff;
	padding: 10px 0;
	text-align: center;
}

h2 {
	font-size: 2em;
	margin-bottom: 20px;
}

h4 {
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 15px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
}

.featured-text-image {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
}

.logo-text-image {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
}

p {
	margin-bottom: 20px;
}

.privacy-content {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}