/* Content is laid out as follows:
	• Shared/_Layout.cshtml		← (Responsible for setting initial design layout for all pages)
	• Home/Privacy.cshtml
	• Home/Index.cshtml			← (Home page)
	• Inventory/Index.cshtml	← (Browse inventory page)
	• TradeIn/Index.cshtml		← (Trade-in page)
*/


/* ↓↓ Shared/_Layout.cshtml ↓↓ */
a {
	color: #0077CC;
	text-decoration: none;
}

body {
	display: grid;
	grid-template-rows: 40px 1fr 40px;
	height: 110vh;
	overflow-y: scroll;
}

footer {
	grid-row: 3;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-image: url(/Images/mahogany_wood.jpg);
	color: #FFFFFF;
	padding: 2px;
	text-align: center;
	background-clip: padding-box;
	padding-top: 2px;
	border-top: 10px solid transparent;
	border-image-source: url(/Images/border_image.png);
	border-image-slice: 100;
}

h2 {
	font-size: 2em;
	margin-bottom: 20px;
}

h4 {
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 15px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 10px;
}

header {
	grid-row: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-image: url(/Images/mahogany_wood.jpg);
	background-clip: padding-box;
	padding-bottom: 40px;
	border-bottom: 10px solid transparent;
	border-image-source: url(/Images/border_image.png);
	border-image-slice: 100;
}

nav {
	display: flex;
	justify-content: space-between;
	width: 465px;
	padding-left: 80px;
}

.nav-link {
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -9999px;
}

	/* ↓ Nav-bar buttons ↓ */
#home-link {
	background-image: url('/Images/home_no_hover.png');
	width: 90px;
}
	#home-link:hover {
		background-image: url('/Images/home_hover.png');
		width: 90px;
	}

#browse-link {
	background-image: url('/Images/browse_no_hover.png');
	width: 116px;
}
	#browse-link:hover {
		background-image: url('/Images/browse_hover.png');
		width: 116px;
	}

#tradein-link {
	background-image: url('/Images/tradein_no_hover.png');
	width: 128px;
}
	#tradein-link:hover {
		background-image: url('/Images/tradein_hover.png');
		width: 128px;
	}
	/* ↑ Nav-bar buttons ↑ */

p {
	margin-bottom: 20px;
}
/* ↑↑ Shared/_Layout.cshtml ↑↑ */


/* ↓↓ Home/Privacy.cshtml ↓↓ */
.privacy-content {
	grid-row: 2;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* ↑↑ Home/Privacy.cshtml ↑↑ */


/* ↓↓ Home/Index.cshtml ↓↓ */
.featured-text-image {
	position: absolute;
	top: 22%;
}
	.featured-image {
		width: 80%;
		display: block;
		margin: 0 auto;
	}

.home-bg-container {
	grid-row: 2;
	display: flex;
	flex-direction: column;
	background-image: url('/Images/home_background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: space-between;
	padding: 50px 0;
}

.home-cards-container {
	display: flex;
	position: relative;
	top: 13px;
	justify-content: center;
	gap: 10px;
}

.home-cards {
	display: flex;
	position: relative;
	flex-direction: column;
}
	.home-cards img {
		width: 100px;
		transition: transform 0.3s ease;
	}
		.home-cards:hover img {
			transform: scale(1.5);
		}
		.home-cards:not(:hover) img {
			transform: scale(0.8);
		}

.new-additions-text-image {
	position: absolute;
	bottom: 21%;
}
	.new-additions-image {
		width: 65%;
		display: block;
		margin: 0 auto;
	}

.placeholder-images {
	display: flex;
	width: 460px;
	padding-top: 215px;
	justify-content: space-between;
	margin: 0 auto;
}
	.placeholder-images img {
		max-width: calc(50% - 10px);
		display: block;
	}

.welcome-text-image {
	position: absolute;
	top: 1%;
}
/* ↑↑ Home/Index.cshtml ↑↑ */


/* ↓↓ Inventory/Index.cshtml ↓↓ */
.inventory-bg-container {
	grid-row: 2;
	display: flex;
	flex-direction: column;
	background-image: url('/Images/scroll_background.png');
	background-size: cover;
	height: 1300px;
	background-position: center;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: space-between;
	padding: 35px 0;
}

.inventory-cards {
	display: flex;
	flex-direction: column;
	width: 100px;
}

.inventory-container {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 250px;
	justify-content: center;
	gap: 40px;
}

.inventory-greeting-text-image {
	position: absolute;
	top: 13%;
}
	.inventory-greeting-image {
		width: 75%;
		display: block;
		margin: 0 auto;
	}

.inventory-row {
	display: flex;
	justify-content: center;
	gap: 20px;
}
/* ↑↑ Inventory/Index.cshtml ↑↑ */


/* ↓↓ TradeIn/Index.cshtml ↓↓ */
.tradein-container {
	grid-row: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('/Images/scroll_background.png');
	background-size: cover;
	height: 1300px;
	background-position: center;
	background-repeat: no-repeat;
}

/* ↓ Wrappers ↓ */
.alpha-tradein-wrapper {			/* Grandparent wrapper that will set the initial display for parent wrappers as 'grid'. */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 1fr;
}
	/* ▼ Child of alpha-tradein-wrapper ▼ */
	.tradein-greeting-text-image {
		grid-column: 1/3;			/* Used to span across both columns. 1 tells it where to start and 3 tells it to stop at the end of column 2.*/
		grid-row: 1;
		position: relative;
		display: inline-grid;
		justify-content: center;
		top: 180px;
	}
	/* ▲ Child of alpha-tradein-wrapper ▲ */

.tradein-form-wrapper {				/* Parent wrapper which handles the Trade-In form on the left side of the page. */
	grid-column: 1;
	grid-row: 2;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 75px 75px 75px 75px;
	top: 250px;
	font-weight: bold;
}
	/* ▼ Children of tradein-form-wrapper ▼ */
	.cardNameWrapper {
		grid-column: 1/3;			/* Used to span across both columns. 1 tells it where to start and 3 tells it to stop at the end of column 2.*/
		grid-row: 1;
	}

	.cardEditionWrapper {
		grid-column: 1;
		grid-row: 2;
	}

	.cardBorderWrapper {
		grid-column: 2;
		grid-row: 2;
	}

	.printTypeWrapper {
		grid-column: 1;
		grid-row: 3;
	}

	.cardConditionWrapper {
		grid-column: 2;
		grid-row: 3;
	}

	.tradein-button {
		display: flex;
		grid-column: 1/3;
		grid-row: 4;
	}
		.tradein-button button {	/* Used to span across both columns. 1 tells it where to start and 3 tells it to stop at the end of column 2.*/
			background-color: #20bcc5;
			color: #000000;			/* Text color */
			padding: 10px 20px;
			border: none;			/* Remove default border */
			font-size: 16px;
			font-weight: bold;
			border-radius: 25px;
		}
	/* ▲ Children of tradein-form-wrapper ▲ */


.tradein-list-wrapper {				/* Parent wrapper which handles the Trade-In list on the right side of the page. */
	grid-column: 2;
	grid-row: 2;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 75px 75px 75px 75px;
	top: 250px;
	font-weight: bold;
}
	/* ▼ Children of tradein-list-wrapper ▼ */
	.tradein-list {
		grid-column: 1/3;
		grid-row: 1/4;
		background: white;
		overflow-y: scroll;
	}

	.tradein-total {
		grid-column: 1/3;
		grid-row: 4;
		display: flex;
		justify-content: flex-end;
		border-top: 2px solid #000000;
		width: 100%;
		background: lightblue;
	}
	/* ▲ Children of tradein-list-wrapper ▲ */

/* ↑ Wrappers ↑ */

input {								/* This relates to the box where you enter in the Card Name */
	background: #ffffff;
	border: 2px solid #203fcb;
	width: 100%;
}

.label-with-tooltip {				/* This relates to the label name (Card Name, Edition, etc.) for all card fields */
	display: flex;
}

select {							/* This relates to the 'select' function for the dropdown menus */
	width: 100%;
	padding: 5px;
	border: 2px solid #203fcb;
}

.tooltip-content {
	position: absolute;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	font-weight: 500;
	padding-left: 7px;
	padding-right: 7px;
}

.tooltip-icon {
	position: relative;				/* This is needed in order to position the tooltip. */
	cursor: help;					/* This turns the mouse pointer into different icons. 'help' is a pointer with question mark. */
	font-size: 16px;
	color: #ffffff;					/* White color for the question mark */
	background-color: #0077cc;		/* Blue background */
	border-radius: 50%;				/* This causes the borders to become more rounded, turning a square into a circle. */
	width: 15px;					/* Width of the circle */
	height: 15px;					/* Height of the circle */
	display: flex;					/* Align the question mark to the center */
	align-items: center;			/* Vertically aligns question mark in the center of blue circle. */
	justify-content: center;		/* Horizontally aligns question mark in the center of blue circle. */
	margin-left: 7px;				/* Add left margin to create some space. */
}

.tooltip-modal {
	display: none;					/* Set to 'none' so that the modal only displays when tooltip is clicked on. */
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;						/* Makes sure that modal appears on top of everything else on the page. */
}

/*.confirm-tradein-button button {
	background-color: #20bcc5;
	color: #000000;
	padding: 10px 20px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	border-radius: 25px;
}*/

/* ↑↑ TradeIn/Index.cshtml ↑↑ */
